<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>列表渲染</title>

</head>
<body>
    <ul id="example-1">
        <li v-for="item in items">
            {{item.message}}
        </li>
    </ul>

    <div id="example-2">
        <ul>
            <li v-for="item in items">
                {{parentMessage}} - {{$index}} - {{item.message}}
            </li>

        </ul>

        <div v-for="(index, item) in items">
            {{ index }} {{ item.message }}
        </div>

        <div v-for="item of items">
            {{parentMessage}} - {{$index}} - {{item.message}}
        </div>

        <ul>
            <template v-for="item in items">
                <li>{{item.message}}</li>
                <li class="divider"></li>
            </template>
        </ul>

        <h3>值域</h3>
        <div>
            <span v-for="n in 10">{{n}}</span>
        </div>
    </div>

    <ul id="repeat-object" class="demo">
        <!--<li v-for="value in object">
            {{$key}} : {{value}}
        </li>-->
        <li v-for="(key, val) in object">
            {{key}} : {{val}}
        </li>
    </ul>


<script src="../../js/vue.js" type="text/javascript"></script>
<script type="text/javascript">

    var exampleData = {
        items:[
            {message: "foo"},
            {message: "bar"}
        ]
    };
    var example1 =new Vue({
        el: "#example-1",
        data: exampleData
    });

    var example2 =new Vue({
        el: "#example-2",
        data: {
            parentMessage: "parent",
            items: [
                {message: "foo"},
                {message: "bar"}
            ]
        }
    })

    new Vue({
        el: "#repeat-object",
        data: {
            object: {
                FirstName: "john",
                LastName: "doe",
                Age: 30
            }
        }
    })
</script>
</body>
</html>